{% extends '_base.html' %}
{% load static %}

{% block title %} About Us {% endblock title %}

{% block style %}

    <link rel="stylesheet" href="{% static 'css/aboutUs.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/aboutUs_res.css' %}"/>

{% endblock style %}

{% block content %}

    <main class="main">
        <div class="container">
            <div class="about-us_text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus
                culpa, vitae a necessitatibus eligendi fugiat distinctio nisi velit
                possimus amet molestias est odio, facere ex repellat eaque numquam,
                quia quo. Exercitationem, quae veniam! Beatae deserunt expedita odio
                accusantium quasi, cum nemo. Quae qui eos dolorem fugit accusamus hic
                sint earum corrupti porro sapiente autem, molestiae officia commodi
                vel. Saepe, nobis! Est maiores porro beatae omnis, reprehenderit eos!
                Temporibus ratione impedit quidem inventore similique quo sit tempore,
                error et praesentium maxime ipsa, atque quis animi. Nihil rem adipisci
                dolor praesentium necessitatibus! Aliquid minima vero atque id quod
                suscipit in cum tempore? Suscipit corporis nulla eius eum culpa
                reprehenderit iure rem voluptatibus repellat, quaerat dolore
                dignissimos impedit debitis voluptates in quis aspernatur. Vero est
                aspernatur autem cumque eligendi aut odit, facere ipsum modi nulla
                expedita quia deserunt, molestias magni consectetur nemo consequatur
                incidunt culpa ducimus suscipit. Nisi nobis quae consectetur
                doloremque sequi.
            </div>
        </div>
    </main>

{% endblock content %}