@media screen and (min-width: 1400px) {
  .vorod-sign_text {
    width: 7rem;
  }
}
@media screen and (max-width: 1400px) {
  .container {
    width: 100%;
    padding: 0 1.5rem;
  }
  .nav_toggle {
    display: none;
  }
  .nav {
    display: block;
  }
  .vorod-sign_text {
    width: 7rem;
  }
  .hero-details {
    left: 5rem;
    width: 60rem;
  }
  .banners {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .product-slider {
    max-width: 124rem;
  }
  .entire-footer {
    display: block;
  }
  .slider_btn--left {
    left: 4%;
  }
  .slider_btn--right {
    right: 4%;
  }
}
@media screen and (max-width: 1200px) {
  .header_content {
    justify-content: space-between;
  }
  #baner_1,
  #baner_2,
  #baner_3 {
    width: 90rem;
  }
}
@media screen and (max-width: 1024px) {
  .header_content input {
    width: 49rem;
  }
  .hero-details {
    width: 35rem;
  }
  .search {
    width: 40rem;
  }
  .menu {
    justify-content: space-evenly;
  }
  #baner_1,
  #baner_2,
  #baner_3 {
    width: 100%;
  }
  .product-slider {
    max-width: 75rem;
  }
  .product-card {
    width: 100%;
  }
  .slider__btn--right,
  .slider_btn--right {
    right: 5%;
  }
  .slider__btn--left,
  .slider_btn--left {
    left: 5%;
  }
  .levels {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  .level {
    margin: 0 auto;
  }
  .entire-footer {
    flex-direction: column;
  }
  .footer-p3 {
    position: static;
    width: 100%;
    height: 40rem;
    margin-bottom: 2rem;
  }
  .footer-p2 {
    margin: 0 auto;
  }
  .footer-caption {
    text-align: justify;
  }
  .contact-title {
    padding: 2rem 0;
    margin-bottom: 0;
  }
  .contact-caption {
    margin-bottom: 5rem;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 8px;
  }
  .logo {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  /* .header-logo,
  .vorod {
    margin-left: auto;
  } */
  .header-content {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 2rem;
  }
  .header-content input {
    width: 100%;
    order: 3;
  }
  .vorod {
    display: none;
  }
  #vorod_mobile {
    display: flex;
  }
  .nav {
    position: absolute;
    z-index: 1000;
    top: 85px;
    width: 100%;
  }
  .nav-list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .nav-list_item {
    margin-right: 2rem;
    margin-bottom: 1rem;
  }
  .nav_toggle {
    display: block;
  }
  .menu {
    background-color: #114b5f;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
  }
  .menu--open {
    height: 30rem;
    border: 1px solid #f3e9d2;
  }
  .menu__item {
    margin-right: 0;
  }
  .hero-img {
    height: 40rem;
    background-size: cover;
  }
  .hero-details {
    width: 60%;
    left: 5%;
    text-align: left;
  }
  .hero-title {
    font-size: 4rem;
  }
  .search {
    flex-direction: row-reverse;
    justify-content: center;
    width: 100%;
  }
  .banners {
    flex-direction: column;
    gap: 2rem;
  }
  #baner_1,
  #baner_2,
  #baner_3 {
    width: 100%;
  }
  .product-slider {
    max-width: 76rem;
  }
  .product-card_link {
    display: inline-block;
    width: 100%;
  }
  .product-card_icon {
    margin-right: 28rem;
  }
  .slide,
  .slide_1 {
    height: auto;
    margin-bottom: 2rem;
  }
  .slider__btn,
  .slider_btn {
    display: none;
  }
  .product-card {
    width: 100%;
    margin-right: 1rem;
  }
  .product-card_img {
    width: 100%;
  }
  .slide,
  .slide_1 {
    width: 50%;
  }
  .levels {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .level {
    margin: 0 auto;
  }
  .entire-footer {
    flex-direction: column;
  }
  .footer-p2 {
    width: 100%;
    padding: 2rem;
  }
  .footer-caption {
    text-align: justify;
  }
  .contact-title {
    margin: 0;
    padding: 2rem 0;
  }
  .contact-caption {
    margin-bottom: 2rem;
  }
  .contact-telphone_number {
    margin-bottom: 2rem;
  }
  .footer-p3 {
    position: static;
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
  }
  .contact-relation {
    display: inline-block;
    width: 100%;
    padding: 2rem 0;
  }
  .footer-copyRight p {
    margin-right: 0;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 7px;
  }
  .hero-img {
    background-position: top;
  }
  .hero-title {
    font-size: 3.5rem;
  }
  .header_content {
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
  }
  .search {
    width: 100%;
  }
  #baner_1,
  #baner_2,
  #baner_3 {
    width: 100%;
  }
  .vocabulary_pic img {
    width: 20rem;
  }
  .product-card_img {
    width: 100%;
    height: auto;
  }
  .product-card_icon {
    margin-right: 0;
    float: left;
  }
  .product-card_img {
    object-fit: contain;
    height: 20rem;
  }
  .product-card {
    margin-right: 1rem;
  }
  .product-slider {
    max-width: 56rem;
  }
  .slide {
    width: 50%;
  }
  .product-card:nth-child(even) {
    margin-right: 1.2rem;
  }
  .footer-p1 {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2rem;
  }
  .footer-khadamat {
    flex-direction: column-reverse;
  }
  .khadamat-p2 {
    margin-bottom: 2rem;
  }
  .khadamat-p3 {
    justify-content: space-evenly;
    margin-bottom: 2rem;
  }
  .footer-p3 {
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .contact-phone_number,
  .contact-telphone_number {
    font-size: 2rem;
  }
  .contact-title {
    margin: 0;
    padding: 2rem 0;
  }
  .contact-caption {
    margin-bottom: 2rem;
  }
  .contact-telphone_number {
    margin-bottom: 2rem;
  }
  .contact-relation {
    display: inline-block;
    width: 100%;
    padding: 2rem 0;
  }
  .contact-relation_text {
    width: 90%;
  }
  .footer-copyRight {
    padding: 0;
  }
}
