* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  color: #0e1935;
  font-size: 2rem;
  background-color: #fff;
  font-family: "Times New Roman";
}

/* main */
.about-us_text {
  margin: 5rem 0;
  text-align: justify;
  color: #0e1935;
}
