* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  color: #0e1935;
  font-size: 2rem;
  background-color: #fff;
  font-family: "Times New Roman";
}
.container {
  width: 127rem;
  padding: 0 1.5rem 0 1.5rem;
  margin: 0 auto;
  position: relative;
}
.hero-img {
  position: relative;
  background: linear-gradient(90deg, #114b5f, rgba(198, 218, 191, 0.4)),
    url(/images/img/beautiful-arrangement-different-books.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 50rem;
  margin-bottom: 5rem;
}
.hero-details {
  position: absolute;
  width: 70rem;
  left: 15rem;
  top: 15rem;
}
.hero-title {
  margin-bottom: 3rem;
  font-size: 5rem;
  color: #f3e9d2;
}
.hero-caption {
  font-size: 2rem;
  color: #f3e9d2;
  /* text-shadow: 0 0 3px #fff2e1; */
}
/* banners */

.banners-title {
  color: #c6dabf;
  background-color: #1a936f;
  text-align: center;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.banners {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8rem;
}
#baner_1,
#baner_2,
#baner_3 {
  width: 110rem;
  height: 20rem;
  background-color: rgb(216, 245, 110);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  color: #0e1935;
}
#baner_2 {
  background-color: rgb(38, 212, 90);
}
#baner_3 {
  background-color: rgb(167, 59, 218);
}
.vocabulary_pic {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.vocabulary_pic img {
  width: 40rem;
  height: 100%;
  padding: 1rem;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.vocabulary_caption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  margin-left: 5rem;
}
.vocabulary_title {
  font-family: "b homa";
}
.buy_vocabulary {
  text-decoration: none;
  color: #0e1935;
  background-color: rgb(83, 215, 238);
  padding: 0.5rem;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  font-weight: 700;
  font-family: "B homa";
}
/* slider */
.product-slider {
  max-width: 100%;
  height: 50rem;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 43rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* THIS creates the animation! */
  transition: transform 1s;
}
.slider__btn,
.slider_btn {
  position: absolute;
  top: 40%;
  z-index: 10;
  border: none;
  font-family: inherit;
  background-color: #a79277;
  color: #fff2e1;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.slider__btn--left {
  left: 3%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 3%;
  transform: translate(50%, -50%);
}
/* second slider */
/* slider_1 */
.product-slider {
  max-width: 100%;
  height: 50rem;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}
.slide_1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 43rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* THIS creates the animation! */
  transition: transform 1s;
}

.slider_btn--left {
  left: 3%;
  transform: translate(-50%, -50%);
}

.slider_btn--right {
  right: 3%;
  transform: translate(50%, -50%);
}
/* product-slider */
.most-view {
  margin-bottom: 8rem;
}
.most-view_title,
.most-sale_title {
  text-align: center;
  margin-bottom: 2rem;
  color: #c6dabf;
  background-color: #1a936f;
  padding: 1rem;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.product-card {
  position: relative;
  border: 2px solid #88d498;
  border-radius: 15px;
  width: 23.97rem;
  height: 40rem;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin-right: 1rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.product-card:hover {
  background-color: rgba(136, 212, 152, 0.3);
}
.product-card:hover .product-card_icon {
  background-color: #114b5f;
  fill: #c6dabf;
}
.product-card:hover .product-card_img {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}
.product-card_img {
  width: 24rem;
  height: 23rem;
  object-fit: contain;
  padding-top: 1rem;
}
.product-card_detail {
  padding: 1.5rem;
  padding-top: 0.5rem;
}
.product-card_title {
  text-align: center;
  margin-bottom: 3rem;
  color: #114b5f;
}
.product-card_price p {
  margin-bottom: 1rem;
  color: #114b5f;
  font-weight: bold;
}
.product-card_price span {
  color: #1a936f;
}
.product-card_icon {
  width: 3.5rem;
  height: 3.5rem;
  background-color: #1a936f;
  fill: #c6dabf;
  margin-right: 16rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.level-title {
  position: relative;
  background-color: #1a936f;
  color: #c6dabf;
  text-align: center;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin-bottom: 2rem;
  padding: 1rem;
}
.levels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8rem;
}
.level {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-decoration: none;
  width: 20rem;
  height: 45rem;
  font-family: "b homa";
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
#level_1 {
  background-color: rgb(241, 182, 204);
}
#level_2 {
  background-color: rgb(220, 151, 228);
}
#level_3 {
  background-color: rgb(159, 232, 233);
}
#level_4 {
  background-color: rgb(123, 177, 223);
}
#level_5 {
  background-color: rgb(203, 211, 124);
}
.level_title {
  font-size: 3.2rem;
  text-align: center;
  padding: 1rem 2rem;
}
.level img {
  width: 100%;
  padding: 1.5rem;
}
.level_image {
  height: 25rem;
}
