* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  color: #0e1935;
  font-size: 2rem;
  background-color: #fff;
  font-family: "Times New Roman";
}
.container {
  width: 100%;
  padding: 0 1.5rem 0 1.5rem;
  margin: 0 auto;
  position: relative;

  /* border: 1px solid black; */
}
/* header */
.header {
  background-color: #09814a;
  margin-bottom: 5rem;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  padding-right: 2rem;
  padding-left: 2rem;
}
.header-content input {
  height: 5rem;
  width: 50rem;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  outline: none;
  padding-right: 1rem;
  font-size: 2rem;
}
.vorod {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.vorod-login_text,
.vorod-sign_text {
  text-decoration: none;
  color: #104911;
  font-weight: 700;
  padding: 1rem 2rem;
}
.vorod-login_text:hover {
  color: #09814a;
  background-color: #fff;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.vorod-sign_text:hover {
  color: #09814a;
  background-color: #fff;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.nav {
  margin-top: 1rem;
  padding: 2rem 3rem;
  background-color: #1c8757;
}
.nav-list {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.nav-list_item {
  margin-right: 5rem;
  font-size: 2rem;
  font-weight: 700;
  /* padding: 1rem 2rem; */
}
.nav-list_item:first-child {
  margin-right: 0;
}
.nav-list_item:hover {
  background-color: aliceblue;
  color: #569d56;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.nav-list_link {
  display: inline-block;
  text-decoration: none;
  color: #104911;
  padding: 1rem 2rem;
}
.nav-list_link:hover {
  color: #09814a;
}
.hero-img {
  position: relative;
  background: linear-gradient(
      270deg,
      rgba(16, 73, 17, 0.703),
      rgba(9, 129, 75, 0.267)
    ),
    url(/images/img/beautiful-arrangement-different-books.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 50rem;
}
.hero-details {
  position: absolute;
  width: 70rem;
  left: 15rem;
  top: 15rem;
}
.hero-title {
  margin-bottom: 3rem;
  font-size: 5rem;
  color: #104911;
}
.hero-caption {
  color: #104911;
}
/* mini banners */
.mini-banners {
  margin-bottom: 5rem;
}
.banners-title {
  position: relative;
  color: #09814a;
  background-color: #8bc78b;
  margin-bottom: 1.5rem;
  margin-right: 3rem;
  padding: 1rem 1.5rem;
  width: 30rem;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.banners-title::before {
  display: inline-block;
  content: "";
  width: 2rem;
  height: 0.3rem;
  background-color: #8bc78b;
  position: absolute;
  top: 2.3rem;
  right: -2.5rem;
}
.banners {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mini-banner {
  width: 45rem;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
/* slider */
.product-slider {
  max-width: 100%;
  height: 50rem;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 43rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* THIS creates the animation! */
  transition: transform 1s;
}
.slider__btn {
  position: absolute;
  top: 45%;
  z-index: 10;
  border: none;
  background: #1c8757;
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 3%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 3%;
  transform: translate(50%, -50%);
}
/* product-slider */
.most-view {
  margin-bottom: 8rem;
}
.most-view_title {
  text-align: center;
  margin-bottom: 2rem;
  margin-right: 3rem;
  position: relative;
  color: #1c8757;
  background-color: #8bc78b;
  width: 23rem;
  padding: 1rem;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.most-view_title::before {
  display: inline-block;
  content: "";
  width: 2rem;
  height: 0.3rem;
  background-color: #8bc78b;
  position: absolute;
  top: 2.3rem;
  right: -2.5rem;
}
.product-card {
  position: relative;
  border: 2px solid #2e777a;
  border-radius: 15px;
  width: 23.97rem;
  height: 43rem;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin-right: 1rem;
}
.product-card_img {
  width: 25rem;
  height: 23rem;
  padding: 1rem;
  object-fit: contain;
}
.product-card_detail {
  padding: 1.5rem;
}
.product-card_title {
  text-align: center;
  margin-bottom: 5rem;
  color: #00adb3;
  background-color: #cceff0;
}
.product-card_price p {
  margin-bottom: 1rem;
  color: #2e777a;
}
.product-card_price span {
  color: #66ced1;
}
.product-card_btn {
  border: none;
  background-color: #00adb3;
  width: 100%;
  height: 3.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 2rem;
  font-weight: 700;
  color: #cceff0;
  cursor: pointer;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* advantages */
.advantages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8rem;
}
.box {
  display: flex;
  align-items: center;
  width: 21rem;
  height: 10rem;
  border: 1px solid black;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.pardakht-icon {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 1rem;
}
.advantage-text {
  font-size: 1.8rem;
}
/* footer */
.footer {
  margin-bottom: 8rem;
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
}
.footer_box1,
.footer_box2,
.footer_box3,
.footer_box4 {
  width: 21rem;
  border: 1px solid black;
  border-radius: 8px;
  padding: 1rem;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.footer_header {
  margin-bottom: 1.5rem;
  text-align: center;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.footer_list {
  list-style-type: none;
}
.footer_item {
  margin-bottom: 1rem;
  text-align: center;
}
.footer_link {
  text-decoration: none;
  color: #000;
}
.footer_contact {
  text-decoration: none;
}
.footer-icon {
  width: 3rem;
  height: 3rem;
}
