* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  color: #0e1935;
  font-size: 2rem;
  background-color: #fff;
  font-family: "Times New Roman";
}
/* main */
.details_container {
  margin-top: 20rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 5rem;
}
.book_product {
  box-shadow: 0 0 3px #a79277;
}
.book_img {
  width: 100%;
  height: 30rem;
  padding: 2rem 3rem;
}
.book_list {
  list-style-type: none;
  margin-bottom: 1rem;
  padding: 0 2rem;
}
.book_price {
  padding: 0 2rem;
  padding-bottom: 1rem;
}
.book_option:first-child {
  margin-bottom: 1rem;
}
.book_percent-icon {
  width: 1.5rem;
  height: 1.5rem;
}
.price_off-container {
  display: flex;
  align-items: center;
}
.price_off-container div {
  background-color: lightcoral;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 0.1rem;
}
.book_price-off {
  position: relative;
  margin-left: 1rem;
}

.book_price-off::before {
  position: absolute;
  right: 0;
  top: 1rem;
  content: " ";
  display: inline-block;
  width: 5.5rem;
  height: 0.2rem;
  background-color: #777;
}
.book_icon {
  width: 1.5rem;
  height: 1.5rem;
}
.book_link-btn {
  text-align: end;
}
.book_link {
  display: inline-block;
  text-decoration: none;
  color: #a79277;
  background-color: #fff2e1;
  border: 2px solid #ead8c0;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.book_link-btn {
  margin-left: 2rem;
  margin-bottom: 2rem;
}
.book_link:hover {
  background-color: #a79277;
  color: #fff2e1;
  border: 2px solid #a79277;
}
.book_details {
  padding: 0 2rem;
}
.book_name {
  margin-bottom: 1rem;
}
.book_title {
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}
.book_producer-name {
  margin-bottom: 3rem;
}
.book_title-details {
  margin-bottom: 2rem;
}
.details_list {
  list-style-type: none;
}
.details_item {
  margin-bottom: 1.5rem;
  font-weight: 700;
}
.details_item span {
  font-weight: normal;
}
.book_caption {
  text-align: justify;
}
.icons {
  margin-bottom: 5rem;
}
.icons_list {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
.icon_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  color: #777;
}
.ad_icons {
  width: 2.5rem;
  height: 2.5rem;
  fill: #777;
}
/* relate part */
.relate_products {
  margin-bottom: 5rem;
}
.relate_title {
  margin-bottom: 2rem;
  width: 16rem;
  padding: 0.5rem 1rem;
  background-color: #fff2e1;
  color: #a79277;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.relate_product {
  display: flex;
  overflow-x: auto;
  gap: 2rem;
  padding: 2rem;
  width: 100%;
}
.card {
  flex: 0 0 auto;
  width: 25rem;
  height: auto;
  box-shadow: 0 0 5px #ead8c0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.card:hover {
  background-color: rgba(255, 242, 225, 0.326);
}
.card:hover .card_icon {
  background-color: #a79277;
  fill: #fff2e1;
}
.card_img {
  width: 100%;
  padding: 2rem;
}
.card_detail {
  padding: 0 2rem;
}
.card_title {
  margin-bottom: 1rem;
}
.card_icons {
  text-align: end;
}
.card_icon {
  width: 4rem;
  height: 4rem;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  fill: #a79277;
  cursor: pointer;
}
.comment_part {
  margin-top: 5rem;
}
.comments {
  display: flex;
  align-items: center;
  gap: 2rem;
  box-shadow: 0 0 3px rgba(167, 146, 119, 0.557);
  border-radius: 15px;
  margin-bottom: 5rem;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  padding: 1rem 2rem;
}
.dateAndName_part {
  display: flex;
  align-items: center;
  gap: 5rem;
  margin-bottom: 3rem;
}
.writerName {
  font-size: 2rem;
  font-weight: 700;
}
.writer_picture {
  width: 5rem;
  height: 5rem;
  background-color: #d1bb9e;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.comment_title {
  margin-bottom: 1rem;
}
.comment_caption {
  color: #777;
}
.comment_box {
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.5rem 2rem;
}
.comment_btn {
  width: 15rem;
  height: 5rem;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  background-color: #a79277;
  color: #fff2e1;
  border: none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin-bottom: 5rem;
}
.comment_btn:hover {
  background-color: #fff2e1;
  color: #a79277;
}
