* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  color: #0e1935;
  font-size: 2rem;
  background-color: #fff;
  font-family: "Times New Roman";
}
/* helper class */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
/* header */
.header {
  background-color: #a79277;
}
.container {
  width: 127rem;
  padding: 0 1.5rem 0 1.5rem;
  margin: 0 auto;
  position: relative;
}
.header_content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 5rem;
  align-items: center;
  padding: 1.5rem 3rem;
  width: 100%;
  /* background-color: #a79277; */
}
.header_content input {
  height: 5rem;
  width: 50rem;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  outline: none;
  padding-right: 1rem;
  font-size: 2rem;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_toggle {
  display: none;
  cursor: pointer;
  padding: 1rem 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.nav_toggle_line {
  position: relative;
  width: 4rem;
  height: 0.4rem;
  background-color: #fff2e1;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.nav_toggle_line::after {
  content: " ";
  width: 4rem;
  height: 0.4rem;
  background-color: #fff2e1;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.nav_toggle_line::after {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  position: absolute;
  bottom: 1rem;
}
.nav_toggle_line::before {
  content: " ";
  width: 4rem;
  height: 0.4rem;
  background-color: #fff2e1;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.nav_toggle_line::before {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  position: absolute;
  top: 1rem;
}
.nav_toggle_icon--open .nav_toggle_line {
  background-color: transparent;
}
.nav_toggle_icon--open .nav_toggle_line::after {
  transform: translateY(1rem) rotate(45deg);
  -webkit-transform: translateY(1rem) rotate(45deg);
  -moz-transform: translateY(1rem) rotate(45deg);
  -ms-transform: translateY(1rem) rotate(45deg);
  -o-transform: translateY(1rem) rotate(45deg);
}
.nav_toggle_icon--open .nav_toggle_line::before {
  transform: translateY(-1rem) rotate(-45deg);
  -webkit-transform: translateY(-1rem) rotate(-45deg);
  -moz-transform: translateY(-1rem) rotate(-45deg);
  -ms-transform: translateY(-1rem) rotate(-45deg);
  -o-transform: translateY(-1rem) rotate(-45deg);
}
.search {
  display: flex;
  align-items: center;
  flex-direction: row;
  /* margin-left: 10rem; */
}
.search input {
  text-align: right;
}
.search-icon {
  background-color: #fff;
  height: 5rem;
  padding: 0.5rem;
  padding-left: 1rem;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  fill: #a79277;
}
#vorod_mobile {
  display: none;
}
.vorod {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.vorod-login_text,
.vorod-sign_text {
  text-decoration: none;
  color: #fff2e1;
  font-weight: 700;
  padding: 1rem 1rem;
}
.vorod-login_text:hover {
  color: #a79277;
  background-color: #ead8c0;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.vorod-sign_text:hover {
  color: #a79277;
  background-color: #ead8c0;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.vorod-sign,
.vorod-login {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.vorod-icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: #fff2e1;
}
.nav {
  padding: 2rem 3rem;
}
.nav_mobile {
  display: block;
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}
.menu__item {
  margin-right: 5rem;
  font-size: 2rem;
  font-weight: 700;
  color: #a79277;
}

.menu__item:hover {
  background-color: #ead8c0;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.menu__link {
  display: inline-block;
  text-decoration: none;
  color: #fff2e1;
  padding: 1rem 2rem;
}
.menu__link:hover {
  color: #a79277;
}

/* main */
.details_container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 5rem;
}
.book_product {
  box-shadow: 0 0 3px #a79277;
}
.book_img {
  width: 100%;
  height: 30rem;
  padding: 2rem 3rem;
}
.book_list {
  list-style-type: none;
  margin-bottom: 1rem;
  padding: 0 2rem;
}
.book_price {
  padding: 0 2rem;
  padding-bottom: 1rem;
}
.book_option:first-child {
  margin-bottom: 1rem;
}
.book_percent-icon {
  width: 1.5rem;
  height: 1.5rem;
}
.price_off-container {
  display: flex;
  align-items: center;
}
.price_off-container div {
  background-color: lightcoral;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 0.1rem;
}
.book_price-off {
  position: relative;
  margin-left: 1rem;
}

.book_price-off::before {
  position: absolute;
  right: 0;
  top: 1rem;
  content: " ";
  display: inline-block;
  width: 5.5rem;
  height: 0.2rem;
  background-color: #777;
}
.book_icon {
  width: 1.5rem;
  height: 1.5rem;
}
.book_link-btn {
  text-align: end;
}
.book_link {
  display: inline-block;
  text-decoration: none;
  color: #a79277;
  background-color: #fff2e1;
  border: 2px solid #ead8c0;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.book_link-btn {
  margin-left: 2rem;
  margin-bottom: 2rem;
}
.book_link:hover {
  background-color: #a79277;
  color: #fff2e1;
  border: 2px solid #a79277;
}
.book_details {
  padding: 0 2rem;
}
.book_name {
  margin-bottom: 1rem;
}
.book_title {
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}
.book_producer-name {
  margin-bottom: 3rem;
}
.book_title-details {
  margin-bottom: 2rem;
}
.details_list {
  list-style-type: none;
}
.details_item {
  margin-bottom: 1.5rem;
  font-weight: 700;
}
.details_item span {
  font-weight: normal;
}
.book_caption {
  text-align: justify;
}
.icons {
  margin-bottom: 5rem;
}
.icons_list {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
.icon_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  color: #777;
}
.ad_icons {
  width: 2.5rem;
  height: 2.5rem;
  fill: #777;
}
/* relate part */
.relate_products {
  margin-bottom: 5rem;
}
.relate_title {
  margin-bottom: 2rem;
  width: 16rem;
  padding: 0.5rem 1rem;
  background-color: #fff2e1;
  color: #a79277;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.relate_product {
  display: flex;
  overflow-x: auto;
  gap: 2rem;
  padding: 2rem;
  width: 100%;
}
.card {
  flex: 0 0 auto;
  width: 25rem;
  height: auto;
  box-shadow: 0 0 5px #ead8c0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.card:hover {
  background-color: rgba(255, 242, 225, 0.326);
}
.card:hover .card_icon {
  background-color: #a79277;
  fill: #fff2e1;
}
.card_img {
  width: 100%;
  padding: 2rem;
}
.card_detail {
  padding: 0 2rem;
}
.card_title {
  margin-bottom: 1rem;
}
.card_icons {
  text-align: end;
}
.card_icon {
  width: 4rem;
  height: 4rem;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  fill: #a79277;
  cursor: pointer;
}
/* score part */
.scoreandcomment_title,
.question_title {
  margin-bottom: 5rem;
  color: #a79277;
  background-color: #fff2e1;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.scoreandcomment_title {
  width: 25rem;
}
.question_title {
  width: 46rem;
}
.comment_container,
.question_container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}
.question_container {
  margin-bottom: 8rem;
}
.comment_btn,
.question_btn {
  width: 25rem;
  height: 7rem;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  background-color: #a79277;
  color: #fff2e1;
  border: none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.comment_btn:hover,
.question_btn:hover {
  background-color: #fff2e1;
  color: #a79277;
}
.comment_part,
.question_part {
  width: 90%;
  height: 35rem;
  border: 3px dashed #a79277;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin-bottom: 5rem;
  background-color: #fff2e1;
}

/* footer */
.footer {
  background-color: #a79277;
}
.entire-footer {
  display: flex;
  position: relative;
}
/* part1 */
.footer-p1 {
  width: 20rem;
  display: flex;
  flex-direction: column;
}

/* part2 */
.footer-p2 {
  width: 74rem;
  padding: 0 1rem;
}
.footer-title {
  color: #ead8c0;
  margin: 2rem 0;
}
.footer-caption {
  color: #fff2e1;
  margin-bottom: 2rem;
  text-align: justify;
}
.footer-address {
  display: flex;
  align-items: center;
  background-color: #fff2e1;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  padding: 1rem 0.5rem;
  margin-bottom: 2rem;
}
.address-details {
  display: flex;
  flex-direction: column;
  margin-right: 1.5rem;
}
.address-title {
  color: #a79277;
  margin-bottom: 0.5rem;
}
.address-caption {
  color: #d1bb9e;
  text-shadow: 0 0 1px #a79277;
  font-size: 2rem;
  font-weight: 700;
}
.footer-khadamat {
  display: flex;
  justify-content: space-between;
}
.khadamat-title {
  color: #ead8c0;
  margin-bottom: 1.5rem;
}
.khadamat-item {
  margin-bottom: 1rem;
}
.list-1 {
  list-style-type: none;
}
.list-1 a {
  text-decoration: none;
  color: #fff2e1;
}
.khadamat-p3 {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.khadamat-p3 div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.khadamat-p3 p {
  color: #fff2e1;
}
/* part3 */
.footer-p3 {
  height: 54rem;
  width: 30rem;
  background-color: #fff2e1;
  position: absolute;
  top: -5rem;
  left: 0;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.contact-title {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  margin-top: 5rem;
  color: #a79277;
  padding: 0 2rem;
  text-align: center;
}
.contact-caption {
  color: #d1bb9e;
  text-align: center;
  margin-bottom: 8rem;
}
.contact-phone_number {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 3rem;
  color: #a79277;
}
.contact-telphone_number {
  text-align: center;
  font-size: 3rem;
  color: #a79277;
  margin-bottom: 8rem;
}
.contact-relation {
  text-align: center;
  text-decoration: none;
  color: #fff2e1;
}
.contact-relation_text {
  background-color: #a79277;
  width: 90%;
  height: 5rem;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.footer-copyRight {
  height: 5rem;
  background-color: #ead8c0;
  color: #a79277;
  padding: 1.5rem 0;
}
.footer-copyRight p {
  margin-right: 15rem;
  font-size: 2rem;
  font-weight: 700;
}
.position-icon {
  width: 4rem;
  height: 4rem;
  fill: #a79277;
  margin-left: 1rem;
}
.khadamat-icon {
  width: 4rem;
  height: 4rem;
  fill: #fff2e1;
  margin-left: 1rem;
}
