@media screen and (max-width: 1400px) {
  .container {
    width: 100%;
    padding: 0 2rem;
  }
  .book_link-btn {
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0 2rem;
  }
  .entire-footer {
    flex-direction: column;
  }
  .footer-p3 {
    position: static;
    width: 100%;
    height: 40rem;
    margin-bottom: 2rem;
  }
  .footer-p2 {
    margin: 0 auto;
  }
  .footer-caption {
    text-align: justify;
  }
  .contact-title {
    padding: 2rem 0;
    margin-bottom: 0;
  }
  .contact-caption {
    margin-bottom: 5rem;
  }
  .contact-telphone_number {
    margin-bottom: 5rem;
  }
}
@media screen and (max-width: 1024px) {
  .header_content {
    justify-content: space-evenly;
  }
  .search {
    width: 40rem;
    margin-left: 0;
  }
  .cards {
    flex-wrap: wrap;
    gap: 2rem;
    margin: 0 auto;
  }
  .entire-footer {
    flex-direction: column;
  }
  .footer-p3 {
    position: static;
    width: 100%;
    height: 40rem;
    margin-bottom: 2rem;
  }
  .footer-p2 {
    margin: 0 auto;
  }
  .footer-caption {
    text-align: justify;
  }
  .contact-title {
    padding: 2rem 0;
    margin-bottom: 0;
  }
  .contact-caption {
    margin-bottom: 5rem;
  }
  .contact-telphone_number {
    margin-bottom: 5rem;
  }
}
@media screen and (max-width: 768px) {
  .header_content {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 1rem;
  }
  .vorod {
    display: none;
  }
  .search {
    margin-left: 0;
    width: 90%;
  }
  .search input {
    width: 100%;
  }
  .nav {
    display: none;
  }
  .nav-list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .nav-list_item {
    margin-right: 2rem;
    margin-bottom: 1rem;
  }
  .details_container {
    grid-template-columns: 1.6fr 2.4fr;
  }
  .book_product {
    height: 45rem;
  }
  .book_img {
    height: 25rem;
  }
  .book_link-btn {
    margin: 2rem 0 0 2rem;
  }
  .details_item:last-child {
    text-align: justify;
  }
  .icons_list {
    flex-wrap: wrap;
    gap: 2rem;
  }
  .card {
    width: 20rem;
  }

  .entire-footer {
    flex-direction: column;
  }
  .footer-p2 {
    width: 100%;
    padding: 2rem;
  }
  .footer-caption {
    text-align: justify;
  }
  .contact-title {
    margin: 0;
    padding: 2rem 0;
  }
  .contact-caption {
    margin-bottom: 2rem;
  }
  .contact-telphone_number {
    margin-bottom: 2rem;
  }
  .footer-p3 {
    position: static;
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
  }
  .contact-relation {
    display: inline-block;
    width: 100%;
    padding: 2rem 0;
  }
  .footer-copyRight p {
    margin-right: 0;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 8px;
  }
  /* .header-content {
    flex-direction: column;
  } */
  .vorod {
    flex-direction: column;
  }
  .nav-list_item {
    margin-right: 1rem;
    font-size: 1.6rem;
  }
  .details_container {
    grid-template-columns: 1fr 1fr;
  }
  .book_product {
    height: 80%;
  }
  .card {
    width: 50%;
  }
  .comment_container {
    grid-template-columns: 1fr 2fr;
  }
  .comment_btn {
    width: 15rem;
  }
  .footer-p1 {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2rem;
  }
  .footer-khadamat {
    flex-direction: column-reverse;
  }
  .khadamat-p2 {
    margin-bottom: 2rem;
  }
  .khadamat-p3 {
    justify-content: space-evenly;
    margin-bottom: 2rem;
  }
  .footer-p3 {
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .contact-phone_number,
  .contact-telphone_number {
    font-size: 2rem;
  }
  .contact-title {
    margin: 0;
    padding: 2rem 0;
  }
  .contact-caption {
    margin-bottom: 2rem;
  }
  .contact-telphone_number {
    margin-bottom: 2rem;
  }
  .contact-relation {
    display: inline-block;
    width: 100%;
    padding: 2rem 0;
  }
  .contact-relation_text {
    width: 90%;
  }
  .footer-copyRight {
    padding: 0;
  }
}
