* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  color: #0e1935;
  font-size: 2rem;
  background-color: #fff;
  font-family: "Times New Roman";
}
/* main */
.panel_container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  margin-bottom: 5rem;
}
.panel {
  padding: 2rem;
}
.panel_header,
.profile_img_header {
  color: #114b5f;
}
.panel_caption,
.profile_img_text {
  color: #114b5f;
  margin-bottom: 4rem;
}
.full_name {
  display: flex;
  gap: 3rem;
  margin-bottom: 2rem;
}
.first_name,
.last_name {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.first_name label,
.last_name label {
  margin-bottom: 1rem;
  color: #114b5f;
}
.first_name input,
.last_name input,
.user_email input,
.user_password input {
  height: 4rem;
  width: 100%;
  padding-right: 1rem;
  font-size: 2rem;
  background-color: rgba(136, 212, 152, 0.3);
  border: none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  color: #333;
}
.user_email {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.user_email label {
  color: #114b5f;
}
.user_password label {
  display: inline-block;
  margin-bottom: 3rem;
  color: #114b5f;
}
.user_password p {
  margin-bottom: 1rem;
  color: #114b5f;
}
.profile_img {
  padding: 2rem;
}
.profile_image {
  display: flex;
  justify-content: space-between;
}
.user_image {
  width: 5rem;
  height: 5rem;
  background-color: rgba(136, 212, 152, 0.3);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.user_caption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.user_image_caption {
  font-size: 1.8rem;
  line-height: 1.5;
  width: 30rem;
  color: #114b5f;
}
.upload_btn {
  padding: 1rem 2rem;
  background-color: #1a936f;
  color: #fff2e1;
  border: none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 700;
}
#file_input {
  display: none;
}
.shaba_number_header {
  color: #114b5f;
  margin-bottom: 2rem;
}
.shaba_number {
  width: 100%;
  height: 4rem;
  background-color: rgba(136, 212, 152, 0.3);
  border: none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin-bottom: 2rem;
  padding-right: 1rem;
  font-size: 1.8rem;
}
.shaba_number::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  appearance: none;
}
.shaba_number_btn {
  padding: 1rem 2rem;
  background-color: #1a936f;
  color: #fff2e1;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
