* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  color: #0e1935;
  font-size: 2rem;
  background-color: #fff;
  font-family: "Times New Roman";
}
/* main */
.sort {
  margin-bottom: 5rem;
}
.sort_title {
  color: #a79277;
}
.sort_products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10rem;
  width: 115rem;
  background-color: #fff2e1;
  box-shadow: 0 0 4px #a79277;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 0 2.5rem;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.sort_list {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.sort_list a {
  text-decoration: none;
  color: #a79277;
  font-weight: 700;
  margin-right: 2rem;
}
.sort_item {
  padding: 1rem 2rem;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.sort_item:hover {
  background-color: #a79277;
  color: #fff2e1;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
#last-item {
  margin-left: 0;
}
.sort_search {
  display: flex;
  align-items: center;
  width: 25rem;
  height: 5rem;
  box-shadow: 0 0 5px #a79277;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  padding: 0 1rem;
}
.sort-icon {
  width: 3.5rem;
  height: 3.5rem;
  margin-left: 1rem;
  fill: #a79277;
}
.sort_input {
  border: none;
  width: 18rem;
  height: 100%;
  outline: none;
  font-size: 1.8rem;
  background-color: #fff2e1;
}
.sort_input::placeholder {
  font-size: 2rem;
}
/* card */
.products {
  margin-bottom: 10rem;
}
.cards {
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-evenly;
}
.card {
  box-shadow: 0 0 5px #a79277;
  border-radius: 15px;
  width: 25rem;
  height: auto;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.card:hover {
  background-color: rgba(255, 242, 225, 0.326);
}
.card:hover .card_icon {
  background-color: #a79277;
  fill: #fff2e1;
}
.card_img {
  width: 100%;
  height: auto;
  padding: 2.5rem 2.5rem 1rem 2.5rem;
}
.card_title {
  text-align: center;
  margin-bottom: 1rem;
  color: #a79277;
}
.card_price {
  margin-bottom: 1rem;
  margin-right: 2.5rem;
}
.card_price p {
  color: #a79277;
  font-weight: 700;
}
.card_price del {
  color: #a79277;
}
.card_icons {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 1rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.card_icon {
  width: 4rem;
  height: 4rem;
  fill: #a79277;
  cursor: pointer;
  background-color: #fff2e1;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
/* pagination */
.list_pagination {
  list-style: none;
  padding: 0;
  margin: 2rem 0;
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.page_item {
  display: inline-block;
  margin: 0 2px;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
.page_item:hover:not(.active, .disabled) {
  background-color: #1a936f;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.page_link {
  display: block;
  min-width: 4rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  text-decoration: none;
  color: #88d498;
  font-family: Arial, sans-serif;
  font-size: 1.4rem;
  border: 1px solid #114b5f;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

/* active state */
.page_item.active .page_link {
  background-color: #1a936f;
  color: #88d498;
  cursor: default;
  pointer-events: none;
}
/* disabled state */
.page_item.disabled .page_link {
  color: #88d498;
  pointer-events: none;
  background-color: #1a936f;
}
/* arrows */
.page_link[aria-label="previous"],
.page_link[aria-label="next"] {
  font-weight: bold;
  padding: 0 1.5rem;
}
/* ellipsis */
.page-item.disabled .page-link {
  border-color: transparent;
  background-color: transparent;
}
